apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://victoriametrics:3080
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      queryLanguage: promql

